body {
    background-image: url("../images/simple.png");
    /* Set a specific height */
    min-height: 500px;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    font-weight:600;
    color: brown;
    font-family: 'Didact Gothic', sans-serif;
}

header > h1 {
    color: maroon;
}

.skip{
    animation: mymove 5s;
    animation-fill-mode: forwards;
}

@keyframes mymove {
    from{width: 25px; opacity: 0; color: darkred}
    to{width: 475px; opacity: 1; color: darkred}
}

h4 {
    margin: 0 0 10px 0;
    text-align:center;
}



.hovernav{
    display:inline-block;
    position:relative;
    box-shadow: 0 0 1px rgba(0,0,0,0);
}

nav {
    text-transform:uppercase;
    text-align:center;
}

.active-page {
    /*color: black;*/
    text-align: center;
    /*-webkit-animation: glow 1s ease-in-out infinite alternate;*/
    /*-moz-animation: glow 1s ease-in-out infinite alternate;*/
    animation: glow 1s ease-in-out infinite alternate;
}

@keyframes glow {
    from {
        text-shadow: 0 0 10px #eeeeee, 0 0 20px #8b4513, 0 0 30px #8b4513, 0 0 40px #8b4513,
        0 0 50px #800000, 0 0 60px #800000, 0 0 70px #800000;
    }
    to {
        text-shadow: 0 0 20px #ff6347, 0 0 30px #ff6347, 0 0 40px #ff6347, 0 0 50px #ff6347,
        0 0 60px #bc8f8f, 0 0 70px #bc8f8f, 0 0 80px #bc8f8f;
    }
}

ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
}


/*.active-page a{*/
/*    position: relative;*/
/*    background: linear-gradient(90deg, black, darkgrey, lightgrey);*/
/*    background-repeat: no-repeat;*/
/*    background-size: 80%;*/
/*    animation: shining 3s infinite;*/
/*}*/

/*@keyframes shining {*/
/*    0% {*/
/*        background-position: -500%;*/
/*    }*/
/*    100% {*/
/*        background-position: 500%;*/
/*    }*/
/*}*/

a {
    transition: .5s color ease-in-out;
    text-decoration: none;
}

a:visited, a:active, a:link{
    color: maroon;
}

.hovernav::before{
    position:absolute;
    z-index:-1;
    content: '';
    top: 100%;
    left: 5%;
    height:10px;
    width:90%;
    opacity:0;
    background: radial-gradient(ellipse at center, rgba(255, 255, 255, 0.35) 0%, rgba(255, 255, 255, 0) 80%);
    transition-duration: 0.5s;
    transition-property: transform, opacity;
}

.hovernav:hover::before{
    opacity: 1;
    transform: translateY(-2px);
}

.hovernav:hover{
    transform: translateY(-2px);
}

#lyst {
    display: inline-block;
}

footer {
    display: block;
    align-items: center;
}

body {
    margin: 1%;
    padding: 1%;
}

header h1 {
    text-align:center;
    font-size: 2.5rem;
    margin-top: 1.8rem;
    margin-bottom: 0;
    line-height: unset;
    font-weight: unset;
}

/*section define*/
/*main*/
main {
    display: block;
}

.main-section {
    width: 600px;
}

.main-section-content {
    max-width: 800px;
}

.main-section-content h1 {
    margin-bottom: 10px;
}

/*first section*/
.main-section-content > img {
    float: left;
    height: 250px;
    width: 180px;
}

.first-section h4 {
    text-align: left;
    margin-left: 50px;
}

.review {
    color: saddlebrown;
}


.first-section .review p {
    position: relative;
    left: 1em;
    line-height: 1.5em;
}
.first-section .review a, .text a {
    color: dimgray;
    text-decoration: underline;
}

.first-section .review img {
    position: relative;
    height: 1.2em;
    bottom: 5px;
}

.first-section li{
    display:inline;
    margin: 0;
}

ul {
    list-style-image: url('https://en.wikipedia.org/w/skins/Vector/resources/common/images/bullet-icon.svg?d4515');
}


.first-section .review span {
    color: brown;
}



.second-section img:hover{
    filter: grayscale(50%);
    border: dashed;
    transform: scale(1.2);
    transition: 1s ease;
}

form {
    margin: 20px auto;
    width:250px;
}

/*grid control style*/
.grid {
    margin: 0;
    display: grid;
    width: 800px;
    grid-template-columns: repeat(2, 300px);
    align-items: center;
    justify-content: center;
}

.text {
    background-color: #dadada;
    padding: 10px;
    color: black;
    justify-self: flex-start;
    align-self: flex-start;
    margin-top: 70px;
    width: 70%;
    opacity: 0.9;
}

.text p {
    margin: 0;
}

.box-b, .box-c, .text-c, .text-d {
    order: 2;
}

.box-d, .box-e, .text-e, .text-f {
    order: 3;
}

.box-f, .box-g, .text-g, .text-h {
    order: 4;
}

.box-h, .box-i, .text-i {
    order: 5;
}

/*.second-section .box:nth-of-type(even) {*/
/*    border: 5px solid maroon;*/
/*}*/
h4 {
    max-width: 155px;
}

.box-a img, .box-b img, .box-c img, .box-d img, .box-e img, .box-f img, .box-g img, .box-h img, .box-i img{
    width: 200px;
    height: 300px;
}

.second-section .box:nth-of-type(even) {
    border: 2px solid #dadada;
    border-radius: 7px;
}

.second-section .box:nth-of-type(even):hover {
    outline: none;
    border-color: grey;
    box-shadow: 0 0 10px grey;
}

/*star rating checked*/
.checked {
    color: orange;
}

.red {
    color: tomato;
}

.dropdown-item:visited, .dropdown-item:active, .dropdown-item:link {
    color: #212529;
}

/*!*special control, affected by bootstrap*!*/
/*#contactH1 {*/
/*    font-size: unset;*/
/*    margin: unset;*/
/*    font-weight: unset;*/
/*    line-height: unset;*/
/*}*/

/*flip card*/
.glow-flip {
    color: maroon;
    /*-webkit-animation: glow 1s ease-in-out infinite alternate;*/
    /*-moz-animation: glow 1s ease-in-out infinite alternate;*/
    /*animation: glow 1s ease-in-out infinite alternate;*/
}

.flip-card {
    display: block;
    margin-top: 20px;
    background-color: transparent;
    width: 250px;
    height: 300px;
    /*border: 1px solid #f1f1f1;*/
    perspective: 1000px; /* Remove this if you don't want the 3D effect */
}

/* This container is needed to position the front and back side */
.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
    /*background-color: #bbb;*/
    color: black;
}

/* Style the back side */
.flip-card-back {
    background-color: lightgrey;
    color: maroon;
    transform: rotateY(180deg);
}

/*this is for keyboard accessibility*/
/* Do an horizontal flip when you move the mouse over the flip box container */

.flip-card:hover .flip-card-inner,
.flip-card:focus-within .flip-card-inner,
.flip-card:active .flip-card-inner,
.flip-card:focus .flip-card-inner {
    transform: rotateY(180deg);
}


@media (prefers-reduced-motion: reduce) {
    .skip {
        animation: none;
    }

    .second-section img:hover {
        transform: none;
        transition: none;
        filter: none;
    }

    .active-page {
        animation: none;
    }

    body {
        background-attachment: scroll;
    }

    .flip-card-inner {
        transition: none;
    }
}

@media (min-width: 680px) {
    .main-section {
        width: 800px;
        margin: 0 100px;
    }

    .main-section-content {
        max-width: 740px;
    }

    .first-section .review p {
        line-height: 1.5em;
    }

    ul {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    li {
        margin: 0 1em;
    }

    .grid {
        margin: 0;
        display: grid;
        width: 1200px;
        grid-template-columns: repeat(4, 180px);
        align-items: center;
        justify-items: center;
        justify-content: flex-start;
    }

    .text-b, .text-d, .text-f, .text-h {
        justify-self: flex-end;
    }

    .box-b, .box-c, .text-c, .text-d  {
        order: 2;
    }

    .box-d, .box-e, .text-e, .text-f  {
        order: 3;
    }

    .box-f, .box-g, .text-g, .text-h  {
        order: 4;
    }

    .box-h, .box-i, .text-i{
        order: 5;
    }

    .box-a img, .box-b img, .box-c img, .box-d img, .box-e img, .box-f img, .box-g img, .box-h img, .box-i img{
        width: 150px;
        height: 225px;
    }
}

@media (min-width: 1024px) {
    header {
        height: 50px;
    }

    .main-section {
        width: auto;
        margin: 0 0 0 100px;
    }

    .main-section-content {
        max-width: 1024px;
    }

    nav {
        position: relative;
        top: -120px;
        margin-left: 200px;
        /*display: flex;*/
        /*flex-direction: row;*/
        /*justify-content: flex-end;*/
    }

    ul {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
    }

    li {
        margin-left: 1em;
        margin-right: 1em;
    }

    .grid {
        margin: 0;
        display: grid;
        width: 1200px;
        grid-template-columns: repeat(6, 200px);
        /*grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;*/
        align-items: center;
        justify-items: center;
        justify-content: flex-start;
    }

    /*.box-a, .box-b, .box-c, .box-d, .box-e, .box-f, .box-g, .box-h, .box-i{*/
    /*    align-self: center;*/
    /*}*/

    .box-b, .text-b, .box-c, .text-c, .box-d, .text-d, .box-e, .text-e, .box-f, .text-f, .box-g, .text-g,
    .box-h, .text-h, .box-i, .text-i {
        order: 1;
    }

    .text-b, .text-d, .text-f, .text-h {
        justify-self: flex-start;
    }

}

